#environment files
.history
.DS_Store


#models
modules/trust_and_safety

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#data

*.json
*.csv



#EDA
analytics/
      
#ipynb
*.ipynb_checkpoints
*.ipynb
ipynbs/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.conda/


# trained models
*.pkl



