Flask
Flask-JWT-Extended
Flask-Marshmallow
marshmallow-sqlalchemy
Flask-SQLAlchemy
requests
psycopg2-binary
python-dotenv
gunicorn
marshmallow
SQLAlchemy
pytz
pika
boto3
pillow
blurhash-python
pymongo
numpy